<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  {% block title %} Nikko {% endblock %}


  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect" />
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />

  <link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css" rel="stylesheet">
  



  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.css')}}" rel="stylesheet" />
  <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet" />
  <link href="{{url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet" />
  <link href="{{url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet" />
  <link href="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet" />
  <!-- Main CSS File -->
  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" />
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet" />
</head>

<body>


  {% block content %} Nikko {% endblock %}

  <main id="main" class="main">



  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
   

  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
  <!-- Custom JS File -->
  <!-- <script src="{{ url_for('static', filename='js/custom.js')}}"></script> -->
  

</body>

</html>